
<!--Formulario-->
<form id="taskform" action="/tasks/add" method="post">
    <input class="name" type="text" name="name" placeholder="Nombre de la tarea" required>
    <textarea class="description" name="description" placeholder="Descripcion de la tarea" cols="30" rows="10" required></textarea>
    <input type="date" name="date" required>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
